* {
    box-sizing: border-box;
}

body {
    background: #212529;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background: #343A40;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: 0.8s;
}

.navigation__active {
    width: 220px;
    height: 220px;
    transition-delay: 0s;
}

.navigation__link {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #DEE2E6;
    transform: translate(calc(12px * var(--x)), calc(12px * var(--y)));
    transition: transform 0.5s, width 0.5s, height 0.5s, background 0.5s;
    transition-delay: calc(0.1s * var(--i));
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F8F9FA;
    font-size: 0;
    z-index: 10;
}

.navigation__active .navigation__link {
    width: 45px;
    height: 45px;
    background: #495057;
    transform: translate(calc(60px * var(--x)), calc(60px * var(--y)));
}

.navigation .navigation__link ion-icon {
    transition: 0.5s;
    font-size: 0;
}

.navigation__active .navigation__link ion-icon {
    font-size: 20px;
    transition: 0.5s;
}

.navigation__active .navigation__link:hover ion-icon {
    color: #337AB7;

}